# ─────────────────────────────────────────────
# Copy this file to terraform.tfvars and fill in values
# ─────────────────────────────────────────────

project_id   = "your-gcp-project-id"
region       = "asia-south1"
zone         = "asia-south1-a"
cluster_name = "travelbooking-gke"
node_count   = 3
machine_type = "e2-standard-4"
